<div class="item">
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Address:</strong> {{formatted_address}}</p>
    <p><strong>Rating:</strong> {{rating}}</p>
    {{!-- <p><strong>Types:</strong> {{types}}</p> --}}
    <p><img src="{{icon}}"></img></p>
</div>
